home/.vim/view/*
# !vim/view/~=+dotfiles=+vimrc=

home/.config/ranger/plugins/__init__.*
home/.config/ranger/plugins/__pycache__

home/.config/coc/*
!home/.config/coc/extensions
home/.config/coc/extensions/*
!home/.config/coc/extensions/package.json

home/.local/share/nvim/view/
home/.local/share/nvim/undo/
home/.local/share/nvim/shada/
home/.local/share/nvim/workspaces
home/.local/share/nvim/project_nvim/
home/.local/share/nvim/mason/

# treesitter
home/.local/share/nvim/site/parser-info/
home/.local/share/nvim/site/parser/
home/.local/share/nvim/site/queries/

# these get generated when running neovim with HOME=./home
home/.local/state/
home/.cache

home/.npm/

home/.gnupg/*
!home/.gnupg/gpg.conf
!home/.gnupg/gpg-agent.conf
!home/.gnupg/scdaemon.conf

home/.anthy/*
!home/.anthy/private_words_default

home/.sbt/*
!home/.sbt/1.0
home/.sbt/1.0/*
!home/.sbt/1.0/global.sbt

home/.local/share/nvim/telescope_history

# this thing is generated somehow
home/.config/gtk-3.0/bookmarks

home/.config/qutebrowser/quickmarks
home/.config/qutebrowser/qsettings
home/.local/share/qutebrowser/
!home/.local/share/qutebrowser/greasemonkey

home/.local/share/fonts/NerdFontsSymbolsOnly-3.4.0.tar.xz
home/.local/share/fonts/NerdFontsSymbolsOnly/
home/.local/share/fonts/SuperTTC-Iosevka-33.3.1.zip
home/.local/share/fonts/Iosevka.ttc
# this is some weird fc-cache behavior?
# https://stackoverflow.com/questions/62309818/autogenerating-uuid-files-in-linux-directory
home/.local/share/fonts/**/.uuid

home/.config/fcitx5/conf/*
!home/.config/fcitx5/conf/xcb.conf
home/.config/fcitx5/crash.log

home/.config/i3status/config

home/.local/share/tmux/resurrect/

deps/carapace
deps/carapace-bin_1.5.0_linux_*.tar.gz

deps/coursier
deps/metals
home/.local/bin/metals

# this is useful if there are local files that are temporarily conflicting, ignore them
.stowrc
.luarc.json
