home/vim/view/*
# !vim/view/~=+dotfiles=+vimrc=

config/ranger/plugins/__init__.*
config/ranger/plugins/__pycache__

config/coc/*
!config/coc/extensions
config/coc/extensions/*
!config/coc/extensions/package.json

home/gnupg/*
!home/gnupg/gpg-agent.conf

home/sbt/*
!home/sbt/1.0
home/sbt/1.0/*
!home/sbt/1.0/global.sbt

.ccls-cache
