[user]
  email = julian@dotcore.co.il
  name = Julian Grinblat
  signingkey = 11D4D7E68EAB77E1!
[commit]
  gpgsign = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[difftool "vimdiff"]
  cmd = vimdiff $LOCAL $REMOTE
[pager]
  diff =
  branch = false
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[color]
  ui = true
[merge]
  tool = vimdiff
[alias]
  subup = !sh -c 'git submodule update --remote --merge && git submodule foreach git submodule update --init --recursive'
  st = status
  aa = add --all
  dt = difftool
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[push]
  default = simple
[include]
  path = ~/.gitconfig.overrides # local overrides for email, name, signingkey, etc
[pull]
  ff = only
[gpg]
  program = gpg2
[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P
