#define BACKGROUND #282828
#define FOREGROUND #ebdbb2

! hard contrast: *background: #1d2021
*background: BACKGROUND
! soft contrast: *background: #32302f
*foreground: FOREGROUND
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

URxvt.termName: rxvt-unicode-256color

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.borderLess:       false
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

URxvt*background:       [80]BACKGROUND
URxvt*foreground:       white

URxvt.cutchars:         `"()'*<>[]{|}"

! Urxvt does not support Noto Emoji and may never do... but lets add this for now
! Also it does not support the unicode characters from Meslo Nerd Fonts now...
URxvt.font: xft:Meslo LG S DZ:medium:size=10:antialias=true, xft:Symbols Nerd Font, xft:Noto Color Emoji

URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

URxvt.scrollBar:      false

URxvt.perl-ext-common: default,matcher,selection-to-clipboard,resize-font,keyboard-select,url-select

! part of the built-in selection-to-clipboard extension
URxvt.clipboard.autocopy: true

URxvt.keysym.M-s: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

URxvt.keysym.M-j:         resize-font:smaller
URxvt.keysym.M-k:         resize-font:bigger
URxvt.keysym.M-equal:     resize-font:reset
URxvt.keysym.M-question:  resize-font:show

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
