name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: install lua
        uses: leafo/gh-actions-lua@v12
      - name: install luarocks
        uses: leafo/gh-actions-luarocks@v6
      - name: install rust toolchain
        uses: actions-rs/toolchain@v1 # atuin
        with:
          toolchain: stable
          override: true
      - name: install luacheck
        run: luarocks install luacheck
      - name: lint
        run: luacheck home
      - name: style
        uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check home/.config
      - name: deps
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: stow libglib2.0-dev libmpv-dev dbus-x11 dconf-cli libavformat-dev libclang-18-dev
          # libglib2.0-dev libmpv-dev libavformat-dev - mpv-mpris
          # dbus-x11 dconf-cli - ibus
          # libclang-17-dev - ccls
          version: 1.0
      - name: install yq # needed for the mason registry to work locally (https://github.com/williamboman/mason.nvim/pull/1457)
        uses: mikefarah/yq@master
      - name: install neovim
        uses: rhysd/action-setup-vim@v1
        with:
          # apt neovim is too old
          neovim: true
          # version: v0.11.3
          version: nightly
      - name: cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            deps/atuin/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('deps/atuin/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: install node.js # various dependencies
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: build
        run: make
      - name: test build
        run:  make test-build
      - name: install
        run: |
          export $(dbus-launch) # dconf required dbus
          # stow conflicts
          rm ~/.bashrc ~/.bash_profile
          make install
      - name: test
        run: make test
